In [1]:
import pandas as pd
from bs4 import BeautifulSoup

In [5]:
# HTML content of the table
html_doc = """
<html>
    <body>
        <h1>Hello, BeautifulSoup!</h1>
        <table border="1" >
<table>
  <tr>
    <th>Student</th>
    <th>Favourite Computer Language</th>
    <th>Years of Experience</th>
  </tr>
  <tr>
    <td>Fred</td>
    <td>Kotlin</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Paula</td>
    <td>Python</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Java</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Isabel</td>
    <td>C++</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Tony</td>
    <td>Pearl</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Maria</td>
    <td>Cobol</td>
    <td>15</td>
  </tr>
</table>
    </body>
</html>
"""

# Parse the HTML content
soup = BeautifulSoup(html_doc, "html.parser")

#find all the table tags
table = soup.find('table')
print(table)

<table border="1">
<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>
</table>
</table>

In [8]:
# Find all header in the table
headers = table.find_all("th")
print(headers)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]

In [37]:
# Find all rows in the table
rows = soup.find_all("tr")

# Extract data from each row and store in a list of dictionaries
data = []
for row in rows[1:]:  # Exclude header row
    cols = row.find_all("td")
    data.append({
        "Student": cols[0].get_text(),
        "Favourite Computer Language": cols[1].get_text(),
        "Years of Experience": int(cols[2].get_text())
    })

In [38]:
# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

  Student Favourite Computer Language  Years of Experience
0    Fred                      Kotlin                    4
1   Paula                      Python                    2
2   Ernst                        Java                    7
3  Isabel                         C++                    3
4    Tony                       Pearl                    7
5   Maria                       Cobol                   15

# Web scraping different from other code above

In [10]:
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
    print(titles)

['Student']
['Student', 'Favourite Computer Language']
['Student', 'Favourite Computer Language', 'Years of Experience']

In [12]:
df2 = pd.DataFrame(columns =titles)
print(df2)

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [15]:
rows = table.find_all("tr")
print(rows)

[<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>, <tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>, <tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr>]

In [32]:
for i in rows[1:3]:
    print(i)

<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>

In [35]:
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    l =len(df2)
    df2.loc[l]= row
    
    print(df2.head())

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7